/***********************************************************************
        APP CONTAINER
***********************************************************************/

.appContainer {
    min-height: 100%;
    height: 100%;
    max-width: 90vw !important;
}

@media only screen and (max-width: 768px) {
    .appContainer {
        max-width: 100% !important;
    }
}

/* width 360, height 608, availWidth 360, availHeight 720  */
/* need breakpoint for height probably like 670px */

/***********************************************************************
        UNSELECTABLE TEXT
***********************************************************************/
.unselectableText {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.linkColor {
    color: #90CCF9;
}

/***********************************************************************
        TITLE TEXT, GAME OVER, GAME WON
***********************************************************************/

.titleText {
    font-family: "KanitItalic";
    font-size: 9.5vw;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .titleText {
        font-size: 9vw;
        height: auto;
        min-height: 10%;
        max-height: 20%;
    }
}

/***********************************************************************
        CHOOSE GAME SCREEN
***********************************************************************/

.chooseGameContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.gamesChoicesContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.gameChoiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "KanitItalic" !important;
    font-size: 2em;
}

.gameChoiceContainer > span {
    width: 40vw;
    text-align: center;
}

.chooseGameButtons {
    font-family: "KanitItalic" !important;
    width: 20vw;
    height: 20vw;
    margin-top: 15px !important;    
}

.chooseGameButtons:hover{
    box-shadow: 0px 15px 20px black;
    transform: translateY(-7px);
}

.chooseGameButtons svg {
    font-size: 20vw;
    fill: black;
}

.createOwnButton {
    background-color: #a40000 !important;
}

.createOwnButton:hover {
    background-color: #ff2e27 !important;
}

.createRandomButton {
    background-color: #0892d0 !important;
}

.createRandomButton:hover {
    background-color: #2eb9f7 !important;
}

.toolTipText {
    font-size: 1.5em;
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
    .chooseGameButtons {
        width: 30vw;
        height: 30vw;
    }
    .chooseGameButtons svg {
        font-size: 30vw;
    } 
}

@media only screen and (max-width: 768px) {
    .gamesChoicesContainer {
        height: 75vh;
        flex-direction: column;
    }
    .chooseGameButtons {
        width: 40vw;
        height: 40vw;
    }  
    .chooseGameButtons svg {
        font-size: 40vw;
    } 
    .gameChoiceContainer > span {
        width: 90vw;
        text-align: center;
    }
}

/***********************************************************************
        BACK ARROW ICON
***********************************************************************/

.backArrowContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1% 0 0 1%;
}

.backArrowContainer svg {
    font-size: 4em;
    fill: #71797E;
}

.backArrowContainer:hover svg {
    fill: #FDFEFF;
}

@media only screen and (max-width: 768px) {
    .backArrowContainer svg {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) and (max-height: 681px) {
    .backArrowContainer svg {
        font-size: 2.5em;
    }
}

/***********************************************************************
        CLOSE GAME ICON
***********************************************************************/

.closeGameContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1% 0 0 1%;
    margin: 0 !important
}

.closeGameContainer svg {
    font-size: 4em;
    fill: #71797E;
}

.closeGameContainer:hover svg {
    fill: #FDFEFF;
}

@media only screen and (max-width: 768px) {
    .closeGameContainer svg {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) and (max-height: 681px) {
    .closeGameContainer svg {
        font-size: 2.5em;
    }
}

/***********************************************************************
        SOLVE GAME ICON
***********************************************************************/

.solveGameContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1% 1% 0 0;
    margin: 0 !important
}

.solveGameContainer svg {
    font-size: 4em;
    fill: #71797E;
}

.solveGameContainer:hover svg {
    fill: #FDFEFF;
}

@media only screen and (max-width: 768px) {
    .solveGameContainer svg {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) and (max-height: 681px) {
    .solveGameContainer svg {
        font-size: 2.5em;
    }
}

/***********************************************************************
        CLASSES FOR BOTH GAME TYPES
***********************************************************************/

.gameContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.choicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.paramsBorder {
    border: 1px solid white;
    border-radius: 6px;    
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.paramsLabel {
    align-self: center;
    padding: 5px;
    max-width: 80%;
    text-align: center;
    font-family: "KanitItalic";
    letter-spacing: 0.15em;
}

.paramsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.gameTextFields label {
    font-family: "KanitItalic" !important;
}

@media only screen and (max-width: 1200px) {
    .paramsBorder {
        min-width: 80vw;
        width: 90vw;
    }
}

@media only screen and (max-width: 768px) {
    .choicesContainer {
        justify-content: space-evenly;
    }

    .paramsContainer {
        flex-direction: column;
    }

    .paramsContainer > div {
        padding: 1vh 0;
    }

    .paramsLabel {
        padding: 0;
    }

    .paramsBorder {
        margin: 0;
    }
    
    .playerCardContainer {
        padding-bottom: 5vh;
    }

}

/***********************************************************************
        CREATE OWN GAME BY SEARCHING PLAYERS
***********************************************************************/

.autocompleteBoxes {
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .autocompleteBoxes {
        width: 80%;
    }
}

/***********************************************************************
        ROLLING PLAYERS INPUTS AND BUTTONS
***********************************************************************/


.playerCardContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}

.rollStartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.playerCard {
    height: 350px;
    width: 200px;
}

.titleButtons {
    font-family: "KanitItalic" !important;
    width: 12vw;
    margin-top: 15px !important;
}

/* Glass looking button? Not sure */
.glossyButtons:after {
    content: '';
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: 0px;
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(255, 255, 255, 0.575), rgba(255,255,255,0.2));
}

.rollButton {
    background-color: #a40000 !important;
    background-image: linear-gradient(#a40000, #ff2e27);
}

.startButton {
    background-color: #0892d0 !important;
    background-image: linear-gradient(#0781b7, #2eb9f7);
}

.randomYearInput {
    width: 40%;
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
    .titleButtons {
        width: 17vw;
    }
}

@media only screen and (max-width: 768px) {
    .titleButtons {
        width: 60vw !important;
    }
    .cardFront svg {
        height: 200px;
        width: 30vw;
    }
    .playerCard {
        height: 200px;
        width: 30vw;
    }
    .randomYearInput {
        width: 80%;
    }
    .rollStartContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) and (max-height: 681px) {
    .cardFront svg {
        height: 150px;
        width: 25vw;
    }
    .playerCard {
        height: 150px;
        width: 50%;
    }

    .playerCardContainer {
        padding-top: 6px;
    }
}

/***********************************************************************
        FLIP CARDS FOR ROLLING PLAYERS
***********************************************************************/
.flipCard {
    background-color: transparent;
    perspective: 1000px;
}

.flipCardContent {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.cardFront {
    transform: rotateY(0deg);
}

.cardBack {
    transform: rotateY(180deg);
}

.playerImageCard {
    height: 300px;
    width: 100%;
    border: 5px solid black;
    border-radius: 9px;
}

.playerNameCard {    
    font-family: "KanitItalic";
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    .playerImageCard {
        height: 200px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) and (max-height: 681px) {
    .playerImageCard {
        height: 150px;
        width: 25vw;
    }
}

/***********************************************************************
        GAME SCREEN CONTAINER
***********************************************************************/
.gameScreenContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gameScreenContainer > div {
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    .gameScreenContainer > div {
        margin: 0;
        padding: 5px 0;
    }
}

/***********************************************************************
        SELECTION DISPLAY
***********************************************************************/
.selectionsContainer {
    height: 25%;
    width: 100%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.displayCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 30%;
    font-family: "KanitItalic";
    text-align: center;
    border: 5px solid #989898;
    border-radius: 9px;
}

.displayCardImage {
    display: block;
    max-height: 350px;
    max-width: 200px;
    height: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 9px;
}

/***********************************************************************
        MOBILE SELECTION DISPLAY
***********************************************************************/

.mobileSelectionsContainer {
    height: 20%;
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "KanitItalic";
}
/* Make this a table not flex */
.tablePlayerContainer {
    display: table;
    width: 90%;
}

.mobilePlayersChild {
    display: table-row;
}

.mobilePlayersChild span {
    display: table-cell;
    padding: 5px 10px;
    border-bottom: #989898 1px solid;
    font-size: 1.2em;
}

.mobilePlayersChild span:nth-child(2) {
    text-align: right;
}

@media only screen and (max-width: 800px) {
    .mobilePlayersChild span {
        font-size: 1em;
    }
}

@media only screen and (max-width: 768px) and (max-height: 680px) {
    .mobilePlayersChild span {
        display: table-cell;
        padding: 5px 10px;
        border-bottom: #989898 1px solid;
    }
}

/***********************************************************************
        STATUS DISPLAY
***********************************************************************/

.statusContainer {
    height: 8%;
    min-height: 8%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statusBox {
    width: 30%;
    height: 100%;
}

.stopwatchContainer {
    font-family: "KanitItalic";
    display: flex;
    align-items: center;
    font-size: 3em;
}

.stopwatchContainer span {
    text-align: left;
}

.historySelectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectFont {
    font-family: "KanitItalic" !important;
}

.moveCountContainer {
    font-family: "KanitItalic" !important;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 840px) and (min-width: 769px) {
    .stopwatchContainer {
        font-size: 2.5em;
    }

    .moveCountContainer {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 768px) {
    .stopwatchContainer {
        font-size: 1.75em;
    }

    .moveCountContainer {
        font-size: 1.75em;
    }

    .statusBox {
        width: 100%;
    }

    .historySelectContainer {
        width: calc(100% - 10px)
    }

    .statusContainer {
        flex-direction: column;
        height: 17%;
        min-height: 17%;
    }
}

/***********************************************************************
        MOBILE STATUS DISPLAY
***********************************************************************/

.movesMobileContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.historyMobileContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********************************************************************
        TEAM SCROLLER AND TEAM LISTS
***********************************************************************/
.teamScrollerContainer {
    position: relative;
    height: 60%;
}

.teammatesContainer {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.teammatesContainer::-webkit-scrollbar {
    display: none;
}

.teamContainer {
    height: 100%;
    font-family: "KanitItalic" !important;
    min-width: calc(100%/4 - 10px);
    padding: 5px;
    border-radius: 9px;
    margin: 0 5px;
    overflow-y: auto;
}

.teamName {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teamName span {
    font-size: 3em;
    text-shadow: black 0px 0px 10px;
}

.teammateList {
    height: 75%;
    overflow: auto;
}

.listPlayer {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.teammateList li {
    text-shadow: black 0px 0px 20px;
}

.chevron {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.pathChevron {
    fill: #71797E;
}

.pathChevron:hover {
    fill: #FDFEFF;
}

.svgChevron:hover path {
    fill: #FDFEFF;
}

.chevronLeft {    
    left: -90px;
}

.chevronRight {
    right: -90px;
}

.loadingTmContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 53vh;
}

.loadingTmText {
    font-size: 3em;
    text-shadow: black 0px 0px 10px;
    font-family: "KanitItalic";    
}

@media only screen and (max-width: 1599px) and (min-width: 1331px) {
    .teamName span {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 1330px) and (min-width: 901px) {
    .teamContainer {
        min-width: calc(100%/3 - 10px);
    }

    .teamName span {
        font-size: 2em;
    }

    .chevronLeft {
        left: -70px;
        height: 75px !important;
        width: 75px !important;
    }

    .chevronRight {
        right: -70px;
        height: 75px !important;
        width: 75px !important;
    }
}

@media only screen and (max-width: 900px) and (min-width: 769px) {
    .teamContainer {
        min-width: calc(100%/3 - 10px);
    }

    .teamName span {
        font-size: 2em;
    }

    .chevronLeft {
        left: -50px;
        height: 50px !important;
        width: 50px !important;
    }

    .chevronRight {
        right: -50px;
        height: 50px !important;
        width: 50px !important;
    }
}

@media only screen and (max-width: 768px) {
    .teamScrollerContainer {
        height: 63%;
    }

    .teamContainer {
        min-width: calc(95% - 10px);
    }

    .teamName {
        height: 20%;
    }

    .teamName span {
        font-size: 2.5em;
    }

    .teammateList {
        height: 80%;
    }
}

.mobileSwipeText {
    font-family: "KanitItalic";
    text-align: center;    
}

/***********************************************************************
        GAME WON SCREEN OR GAME SOLVED SCREEN
***********************************************************************/

.endScreenContainer {
    font-family: "KanitItalic";    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.gameEndText {
    font-size: 10em;
    height: 20vh;
}

.playAgainButton {
    width: 20vw;
    font-family: "KanitItalic" !important;
    font-size: 1.5em !important;
}

.playAgainButtonContainer {
    height: 10vh;
    padding: 2vh 0;
}

.winningTeamContainer {
    width: calc(100% / 3);
    height: auto;
    min-height: 30vh;
    max-height: 70vh;
    padding: 2vh 0;
}

.winningTeamContainer li {
    cursor: default;
}

.noSolutionText {
    font-size: 5em;
}